@import "colours.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @on_surface;
}

tooltip {
    background: @background;
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    background: @primary_container;
    color: @on_primary_container;
    padding: 6px 18px 6px 10px;
}

#workspaces button {
    padding: 5px 14px 5px;
    margin: 6px;
    border-radius: 10px;
    background: @primary;
    color: @on_primary;
}

#workspaces button.active {
    padding: 5px 20px 5px;
    margin: 6px;
    border-radius: 20px;
    background: @primary_container;
    color: @on_primary_container;
}

#clock,
#hyprland-window,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-power {
    padding: 6px 12px;
    margin: 6px;
    border-radius: 100px;
    background-color: @primary;
    color: @on_primary;
}

#window {
    padding: 5px 10px 5px;
    margin: 6px;
    border-radius: 20px;
    background: @primary_container;
    color: @on_primary_container;
}

#custom-power {
    padding-right: 15px;
}

#clock > box,
#hyprland-window > box,
#battery > box,
#pulseaudio > box,
#network > box,
#bluetooth > box,
#custom-power > box,
#clock label,
#hyprland-window label,
#battery label,
#pulseaudio label,
#network label,
#bluetooth label,
#custom-power label {
    padding: 0;
    margin: 0;
}